*{
 
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
 }
 html{
 	background-image: url(img/patt.png);
 }
body{
    font-family: 'Roboto', sans-serif;
} 
header{
	
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0 auto; 
	background-color: rgba(255,255,255,0.75);
} 
.container{
	width: 1170px;
	margin: 0 auto;
}
.col-3{
	width: 25%;
}
.img {
	position: relative;
	margin-top: 7px;
}
#product-count{
	color: #ffffff;
	font-size: 12px;
}
.col-6{
	width: 50%;
}
[class*="col-"] {
	float: left;
}
.row:after,.navigation:after,.menu-drop:after{	
	content: "";
	display: block;
	clear: both;
}
.navigation li{
	width: 25%;
	position: relative;
	height: 50px;
	list-style-type: none;
	float: left;
}
.navigation a {
	position: relative;
	height: 50px;
	display: block;
	text-decoration: none;
	color: #3366cc;
	text-align: center;
	line-height: 50px;
	font-size: 21px;
	font-weight: 300 ;
}
.navigation a:hover {
	background-color: #2c71b8;
	color: white;
}
.navigation > li:first-child{
	border-left:  1px solid #2c71b8
}
.navigation > li:nth-child(2){
	border-left:  1px solid #2c71b8
}
.navigation > li:nth-child(3){
	border-left:  1px solid #2c71b8
}
.navigation > li:nth-child(4){
	border-right:  1px solid #2c71b8
}
.navigation > li:last-child{
	border-left:  1px solid #2c71b8
}
.search{
	position: relative;
	border: 1px solid #2c71b8;
	left: 30px;
	width: 200px;
	top: 5px;
	
}
.search_nav {
	position: relative;
	left: 1px;
	height: 40px;
	width: 158px;
	border: 1px solid #2d71b8;
	font-size: 19px;
	text-indent: 20px;
	outline: none;
	background-color: inherit;
	border: none;
}
input::-webkit-input-placeholder { color: #568ac4; font-family: roboto;}
.button{
	position: absolute;
	height: 30px;
	width: 30px;
	left: 162px;
	bottom: 5px;
	border: none;
	background-color: #3366cc;
	background-image: url(img/search.png)  ;
}
.cart{
	position: relative;
	width: 40px;
	height: 40px;
	background-color: white;
	float: right;
	background-image: url(img/iconcart.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	margin-top: 5px;
}
.cart_contents{
	position: relative;
	width: 20px;
	height: 20px;
	background-color: #3366cc;
	border-radius: 50px;
	left: -7px;
	bottom: 9px;
	text-align: center;
	line-height: 20px;
}
.cart_contents p{
	display: block;
	width: 20px;
	height: 20px;
	color: white;
}
.col-9{
	width: 75%;
}
.site_bar{
	width: 270px;
	height: 835px;
	background-color: rgba(255,255,255,0.25);
	border-right: 1px solid white;
}
.link{
	margin-left: 5px;
	margin-top: 30px;
}
.prod_nav li {
	height: 40px;
	width: 270px;
	background-color: #3366cc;
	border-left:  1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white; 
    text-align: 15px;
}
.prod_nav{
	margin-top: 33px;
	margin-left: 23px;
}
.list{
	border-top: 1px solid white;
}
.prod_nav a{
	display: block;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	margin-left: 20px;
	color: white;
	font-size: 21px;
}
.drop_menu_prod{
	position: relative;
	right: 1px;
	bottom: 1px;
	display: none;
	z-index: 10;
}
.text  h1{
	margin-top: 30px;
	font-size: 48px;
	color: white;
	font-weight: 900;
}
.list:hover ul {
	display: block;
}
.drop_menu_prod li:hover {
	background-color: white
	
}
.drop_menu_prod a:hover {
	color: #3366cc;
}
.menu-drop{
	position: relative;
	right: 1px;

}
.arrow-down:after{
	content: "";
	position: absolute;
	border: 4px solid;
	border-color: white transparent transparent  transparent ;
	margin-top: 18px;
	margin-left: 120px
}
.menu-drop li{
	height: 40px;
	width: 294px;
	float: none;
	position:relative;
	background-color: white;
	display: none;
	z-index: 10;
}
.menu-drop a {
	height: 40px;
	text-align: left;
	text-indent: 30px;
	line-height: 40px;
	background-color: #3366cc;
	color: white;
}
.menu-drop a:hover {
	background-color: white;
	color:#3366cc; 
}

.menu-list:hover .menu-drop li {
	display: block;
}
.menu-list:hover .icon-down{
	background-color: #3366cc;
	color: white;
}
.menu-list>a:after{
	content: "";
	position: absolute;
	border: 4px solid;
	border-color: #2b71b7 transparent transparent  transparent ;
	margin-top: 25px;
	margin-left: 10px
}
.menu-list:hover .icon-down:after{
	content: "";
	position: absolute;
	border: 4px solid;
	border-color: #ffffff transparent transparent  transparent ;
	margin-top: 25px;
	margin-left: 10px
}
[class*="products"]{
	margin-top: 30px;
	width: 270px;
	margin-left: 30px;
	

}
.col-12{
	width: 100%;
}
.col-4{
	width: 33.33%;
	
}
.col-8{
	width: 66.67%;
}
[class*="device-description"]{
	border: 1px solid white;
	background-color: rgba(51,102,204,0.75);
}
.img-prod{
	height: 180px;
	background-color: rgba(255,255,255,0.75);
	border: 1px solid white;
	border-bottom: none;
}
.img-pro {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon-like{

	display: block;
	position: relative;
	float: right;
	width: 30px;
	height: 30px;
	border: 1px solid #2c70b7;
	margin-top: 50px;
	margin-right: 10px;
	background-image: url(img/likeicon.png)  ;
	background-repeat: no-repeat;
	background-position: center;
}
.icon-zoom{
	position: absolute;
	width: 30px;
	height: 30px;
	border: 1px solid #2c70b7;
	margin-top: 10px;
	margin-right: 10px;
	background-image: url(img/zoomicon1.png)  ;
	background-repeat: no-repeat;
	background-position: center;
}
.icon-device{
	position: absolute;
	bottom: 102px;
	right:-4px;
}
.icon-zoom:hover{
	background-color: #3366cc;
	background-image: url(img/zoomicon.png);
}
/* .icon-like:hover{
	background-color: #3366cc;
	background-image: url(img/likeicon1.png);
} */
.device-description h1 {
	color: white;
	margin-top: 15px;
	margin-left: 15px;
	font-size: 30px;
	font-weight: 900;
}
.device-description p {
	margin-top: 15px;
	margin-left: 15px;
	color: white;
	font-size: 20px;
}
.device-description h2 {
	color: white;
	margin-top: 15px;
	margin-left: 15px;
	font-size: 20px;
}

.bold-font{
	font-weight: 600;
	font-size: 21px;
}
.bold-font-price{
	font-weight: 900;
}
.bold-font-price-cent{
	font-size: 25px;
	font-weight: 600;
	vertical-align: 10px;
}
sup{
    position: absolute;
	margin-left: 5px;
	vertical-align: super;
	font-size: 40px;
	color: white;
}
sub{

	vertical-align: sub;
	font-size: 50px;
	margin-left: 60px;
	color: white;
}
.more-detailis{
	width: 210px;
	height: 50px;
	margin-top: 15px;
	margin-left: 30px;
	background: #2d71b8;
	border: 1px solid white;
	color: white;
	font-size: 20px;
    font-weight: 600;
    outline: none;
}
.add-cart{
	width: 210px;
	height: 50px;
	margin-top: 15px;
	margin-left: 30px;
	margin-bottom: 30px;
	background: #2d71b8;
	background-color: rgba(102,153,204,0.75);
	outline: none;
	border: 1px solid white;
	color: white;
	font-size: 20px;
    font-weight: 600;
    background-image: url(img/iconcart2.png) ;
    background-repeat: no-repeat;
    background-position: right 10px top 15px;
    background-size: 13px;
}
.more-detailis:hover{
	background-color: rgba(255,255,255,0.75);
}
.add-cart:hover{
	background-color: rgba(255,255,255,0.75);
}
 h2{
	margin-left: 30px;
	color: white;
	font-size: 21px;
}
.checkbox{
	position: relative;
	left: 30px;
	margin-top: 21px;
}
.checkbox-laptop{
	-webkit-appearance:none;
}
.label-chec:before{
	content: "";
	display:block; 
	width: 8px;
	height: 8px;
	border: 1px solid white;
	position: absolute;
	top: 5px;
	left: 0;
	z-index: 1;
}
.label-chec{
	content: "";
	display:block; 
	top: -28px;
	z-index: 2;
	position: relative;
	color: white;
	font-size:21px;
	padding-left: 20px;
	margin-left: 30px;
	height: 23px;
}
.checkbox-laptop:checked + .label-chec:before{
	background-color: white;
}
.checkbox-tablet:checked + .label-chec:before{
	background-color: white;
}
[class*="checkbox-tablet"]{
	-webkit-appearance:none;
}
.color,.ram{
	margin-top: 70px;
}
.submit-checkbox{
  margin-top: 30px;
  margin-left: 30px;
}
.submit-check{
	width: 210px;
	height: 50px;
	background: #2d71b8;
	border: 1px solid white;
	color: white;
	font-size: 20px;
    font-weight: 600;
    outline: none;
}
.submit-check:hover{
 background-color: rgba(255,255,255,0.75);
}
.filter-type{
	padding-bottom: 30px;
	margin-top: 30px;
}
.col-3-sitebar{
	width: 270px;
}
.liked{
	background-color: #3366cc;
	background-image: url(img/likeicon1.png);
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.3);
	display: none;
}
.modal-block{
	width: 300px;
	height: 200px;
	margin: 80px auto;
	background-color: white;
	border: 1px solid grey;
	padding: 15px;
}
.btn-close{
	text-align: right;
	cursor: pointer;
}
.show {
	display: block;
}
.hide {
	display: none;
}




































